.env
.env.*.local
.env.testing
.phpunit.result.cache
/vendor/
/node_modules/
/bootstrap/cache/*
/storage/*.key
/storage/logs/*
/storage/framework/**
/docker/mysql/data/
/docker/mysql/logs/
.DS_Store
Thumbs.db
.idea/
/.vscode/
/.history
*.deb